# Python
backend/venv/
backend/__pycache__/
backend/routes/__pycache__/
backend/utils/__pycache__/

# Environment variables
backend/.env

# Node
frontend/node_modules/

# Vite
frontend/dist/

# OS
.DS_Store
Thumbs.db